* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #4f5e5c;
  color: #fff;
  font-family: sans-serif;
  padding: 13px 0;
  box-shadow: 4px 4px 8px rgba(161, 132, 132, 0.6);
  /* margin: 10px; */
  /* border-radius: 5px; */
  position: sticky;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.header__nav svg {
  font-size: 30px;
}

.header__nav a:hover {
  opacity: 0.85;
}

.header__nav a:first-child {
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.header__nav a:first-child svg {
  font-size: 34px;
}

.header__nav a:first-child span {
  font-size: 30px;
  margin-top: -4px;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 16px 20px;
  border-radius: 10px;
}

.filter-sort label {
  font-weight: bold;
  color: #444;
  margin-right: 10px;
}

.filter-sort select {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  border: 1px solid #444;
  background: white;
  font-size: 14px;
  cursor: pointer;
}

.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-buttons button {
  padding: 8px 16px;
  border: none;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
  color: #222;
}

.filter-buttons button:hover {
  transform: translateY(-2px);
}

.card-container {
  width: 280px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: 0.5s ease;
  /* transition: all 0.3s; */
  display: flex;
  flex-direction: column;
}

.card-container:hover {
  transform: scale(1.06);
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.18);
}

.card-container img {
  width: 100%;
  height: 200px;
  /* object-fit: cover;  */
  background-size: cover;
  border-radius: 8px;
}

.card-container > div:nth-child(2) {
  padding: 15px;
  padding-bottom: 5px;
}

.card-container h3 {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 600;
}

.card-container p {
  padding: 0 15px;
  font-size: 14px;
  color: #555;
}

.food-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  margin-top: 10px;
}

.food-info p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}

.food-info .star {
  padding: 10px;
  background: green;
  color: white;
  border-radius: 7px;
}

.food-price {
  background: #f1f1f1;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 600;
}

.food-box {
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.food-box button {
  width: 32px;
  height: 32px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.food-box button:hover {
  background: #444;
}

.food-box p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding-bottom: 0;
}

.category-icon {
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-icon svg {
  font-size: 10px;
}

footer {
  padding: 25px 15px;
  margin-top: 20px;
  background: #111;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins' sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.popup {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.popup-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.popup-left,
.popup-right {
  width: 50%;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.popup-add-button {
  width: 100%;
  padding: 15px 0;
  background: #6b8f6a;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.popup-close-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}

.popup-close-icon:hover {
  color: #cc8916;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.section-heading {
  padding-bottom: 10px;
}

.popup-title {
  margin-bottom: 10px;
  color: #ffba00;
}

hr {
  margin-bottom: 10px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.shopping-cart-page {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.cart-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 20px 0;
}

.cart-item-image img {
  width: 300px;
  height: auto;
  border-radius: 4px;
}

.cart-item-details {
  width: 40%;
}

.item-name {
  font-size: 26px;
  font-weight: 700;
  color: #f1a800;
}

.details-row {
  display: flex;
  gap: 80px;
  margin-top: 20px;
}

.label {
  font-weight: 700;
  margin-bottom: 6px;
}

.cart-item-price {
  margin-left: auto;
  text-align: right;
}

.total-price-text {
  margin-top: 20px;
  font-weight: 700;
  color: #f1a800;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.final-total {
  font-size: 32px;
  font-weight: bold;
}

.checkout-btn {
  background: #6b8f6a;
  padding: 12px 25px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.filter-buttons button.active-filter {
  background: #cc8916;
  color: #fff;
  border-color: #cc8916;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
